<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alien</title>
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
	<link rel="stylesheet" href="/style.css">
</head>
<body>
<section class="row">
    <section class="column">
        <h2>Input API Data here</h2>
        <form action="/api" method="POST">
            <input type="text" placeholder="name" name = "name">
            <input type="text" placeholder="speciesName" name = "speciesName">
            <textarea name="features" placeholder="features" cols="40" rows="5" type="text"></textarea>
            <input type="text" placeholder="homeWorld" name="homeWorld">
            <input type="text" placeholder="image" name = "image">
            <textarea name="interestingFact" placeholder="interestingFact" id="" cols="40" rows="5"></textarea>
            <input type="text" placeholder="examples" name="examples">
            <button type="submit">SUBMIT NEW</button>
            <button type="button" id="updateButton">UPDATE EXISTING</button>
        </form>
    </section>
    <section class="column">

        <h2>DELETE THE API DATA HERE</h2>
        <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput">
        <button id="deleteButton">DELETE</button>

        <h2>Current ALiens</h2>
        <ul class="alien-list">
            <% for(let i=0; i < info.length; i++) {%>
                <li class="alien">
                    <span><%= info[i] %></span>
                </li>
            <% } %>

        </ul>
    </section>

</section>











    <script type="text/javascript" src="/main.js"></script>
</body>
</html>